<div id="menuBtn" style="z-index:99999;position: fixed;bottom:80px;left:20px;width:50px;height:50px;background: red;border-radius: 50px;" ><span class="glyphicon glyphicon-align-justify" style="font-size:20px;color:#FFF;margin-left: 15px;margin-top:12px"></span></div>
<div id="menu1" style=position:fixed;bottom:80px;left:35px;width:300px;height:150px;">
    <div style="position: relative;z-index:9999999;">
        <ul style="list-style: none;padding:0;margin:0;">
            <li style="font-size:12px;color:#FFF;float:left;display:block;border:1px solid #FFF;padding:12px 14px;margin:5px;cursor:pointer;" onclick="window.location.href='{:U('Car/index')}'"><span class="glyphicon glyphicon-shopping-cart"></span>购物车</li>
            <li style="font-size:12px;color:#FFF;float:left;display:block;border:1px solid #FFF;padding:12px 14px;margin:5px;cursor:pointer;" onclick="window.location.href='{:U('Order/lists')}'"><span class="glyphicon glyphicon-list-alt"></span>我的订单</li>
            <li style="font-size:12px;color:#FFF;float:left;display:block;border:1px solid #FFF;padding:12px 14px;margin:5px;cursor:pointer;" onclick="window.location.href='favorite.php'"><span class="glyphicon glyphicon-list-alt"></span>我的收藏</li>
        </ul>
    </div>
    <div style="position: fixed;bottom:90px;left:30px;width:300px;height:150px;;border-radius: 10px;background: url(__ROOT__/Public/images/b.png) no-repeat bottom left;opacity:0.8" ></div>
</div>