<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/style.css" />
    <link rel="stylesheet" href="__PUBLIC__/js/Validform/Validform.css">
<block name="mycss"></block>
    <script type="text/javascript" src="__ROOT__/Public/js/jquery.js"></script>
    <script type="text/javascript" src="__ROOT__/Public/js/bootstrap.js"></script>
    <script type="text/javascript" src="__ROOT__/Public/js/ckform.js"></script>
    <script type="text/javascript" src="__ROOT__/Public/js/common.js"></script>
    <script src="__PUBLIC__/js/Validform/Validform_v5.3.2_min.js"></script>
    <script language="JavaScript" type="text/javascript" src="__ROOT__/Public/js/My97DatePicker/WdatePicker.js"></script>
    <style type="text/css">
        *:focus { outline:none; }

        body {
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    </style>
</head>
<body>
<block name="body"></block>
</body>
</html>
<block name="myscript"></block>