.floatR {
  float: right;
}
.navbar-green {
  background: -webkit-linear-gradient(top, #0e730e, #044704);
}
.colorRed {
  color: red;
}
.bottom {
  margin-top: 40px;
  height: 100px;
  font-size: 12px;
  background-color: #303a40;
  background-image: linear-gradient(to bottom, #303a40 0%, #303a40 100%);
  background-repeat: repeat-x;
  border: medium none;
  border-radius: 0;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.links a,
.links span{
    margin:0 10px;
}
.links a{
    margin-top:10px;
    text-align: center;
    color:#ccc;
}


.about_ul{
    padding:0px;
}


.active{
    background: #64757c !important;
    color:#DDD !important;
}

.about_ul li{
    height:40px;
    list-style:none;
}
.about_ul a{
    list-style: none;
    height:40px;
    width:100px;
    background:#EEE;
    padding:10px 20px;
    margin-bottom:3px;
    color:#303A40;
}
