.Blod {
  font-weight: bold;
}
.YaHei_12 {
  font-family: 'microsoft yahei';
  font-size: 12px;
}
.YaHei_14 {
  font-family: 'microsoft yahei';
  font-size: 14px;
}
.YaHei_16 {
  font-family: 'microsoft yahei';
  font-size: 16px;
}
.YaHei_18 {
  font-family: 'microsoft yahei';
  font-size: 18px;
}
.YaHei_20 {
  font-family: 'microsoft yahei';
  font-size: 20px;
}
.HeiTi_12 {
  font-family: '黑体';
  font-size: 12px;
}
.HeiTi_14 {
  font-family: '黑体';
  font-size: 14px;
}
.HeiTi_16 {
  font-family: '黑体';
  font-size: 16px;
}
.HeiTi_18 {
  font-family: '黑体';
  font-size: 18px;
}
.HeiTi_20 {
  font-family: '黑体';
  font-size: 20px;
}
