.Blod {
    font-weight: bold;
}
.YaHei_12 {
    font-family: microsoft yahei;
    font-size: 12px;
}
.YaHei_14 {
    font-family: microsoft yahei;
    font-size: 14px;
}
.YaHei_16 {
    font-family: microsoft yahei;
    font-size: 16px;
}
.YaHei_18 {
    font-family: microsoft yahei;
    font-size: 18px;
}
.YaHei_20 {
    font-family: microsoft yahei;
    font-size: 20px;
}
.HeiTi_12 {
    font-family: 黑体;
    font-size: 12px;
}
.HeiTi_14 {
    font-family: 黑体;
    font-size: 14px;
}
.HeiTi_16 {
    font-family: 黑体;
    font-size: 16px;
}
.HeiTi_18 {
    font-family: 黑体;
    font-size: 18px;
}
.HeiTi_20 {
    font-family: 黑体;
    font-size: 20px;
}
.red {
    color: #e00404;
}
.darkred {
    color: #aa1f1f;
}
.border {
    -moz-box-shadow: 1px 2px 15px #999;
    -webkit-box-shadow: 1px 2px 15px #999;
    box-shadow: 1px 2px 15px #999;
}
.diyBtn {
    padding: 20px 70px;
    font-size: 24px;
    letter-spacing: 15px;
    font-family: 黑体;
}
.diyBtn2 {
    padding: 10px 20px;
    font-size: 16px;
    font-family: 黑体;
    letter-spacing: 2px;
}
.minHeight {
    min-height: 735px ;
}
.minHight140 {
    min-height: 80px;
}
.line_through {
    text-decoration: line-through;
}
.borderShadow {
    -moz-box-shadow: 2px 2px 5px #969696;
    /*firefox*/
    -webkit-box-shadow: 2px 2px 5px #969696;
    /*webkit*/
    box-shadow: 2px 2px 5px #969696;
    /*opera或ie9*/
}
.loginDiv {
    position: absolute;
    top: 5px;
    right: 80px;
    width: 300px;
    height: 280px;
    background: none repeat scroll 0 0 rgba(51, 51, 51, 0.7);
    z-index: 9999;
    border: 1px solid #686868;
    overflow: hidden;
}
.main {
    background: url(../images/pad/main_pad.png) no-repeat 0 0;
    background-size: cover;
    height: 300px;
}
.main .title {
    font-family: 黑体;
    font-size: 36px;
    margin: 0 auto;
    text-align: center;
    color: #FFF;
    line-height: 5em;
}
.tip {
    width: 360px;
    height: 240px;
    border-radius: 5px;
    position: relative;
    margin: 10px 5px;
    -moz-box-shadow: 1px 2px 15px #999;
    -webkit-box-shadow: 1px 2px 15px #999;
    box-shadow: 1px 2px 15px #999;
}
.tip .tip-bg {
    font-family: 黑体;
    font-size: 48px;
    color: #303a40;
    position: relative;
    margin: 0 auto;
    top: 60px;
    width: 240px;
    height: 80px;
}
.tip .tip-bg .opacity_5 {
    position: relative;
    width: 100%;
    height: 80px;
    opacity: 0.5;
    background: #FFF;
    z-index: 999;
    top: -80px;
}
.tip .tip-bg .content {
    position: relative;
    width: 100%;
    height: 80px;
    line-height: 80px;
    z-index: 1000;
    text-align: center;
}
.tip .tip-bottom {
    font-family: 黑体;
    font-size: 18px;
    color: #FFF;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 40px;
    top: 120px;
}
.tip .tip-bottom .opacity_5 {
    position: relative;
    width: 100%;
    height: 40px;
    opacity: 0.5;
    background: #303a40;
    z-index: 99;
    margin-top: -40px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.tip .tip-bottom .content {
    position: relative;
    width: 100%;
    height: 40px;
    line-height: 40px;
    z-index: 999;
    text-align: center;
}
.tip .tip-bottom .opacity2 {
    opacity: 0.2;
}
.tip .tip-bottom .opacity6 {
    opacity: 0.6;
}
.tip.img1 {
    background: url(../images/tip1.png) no-repeat 0 0;
}
.tip.img2 {
    background: url(../images/tip2.png) no-repeat 0 0;
}
.tip.img3 {
    background: url(../images/tip3.png) no-repeat 0 0;
}
.tip.img4 {
    background: url(../images/tip4.png) no-repeat 0 0;
}
.productShow {
    width: 100%;
    height: 400px;
    position: relative;
}
.productShow .label1 {
    font-family: 黑体;
    font-size: 36px;
}
.productShow .label2 {
    font-family: Arnold Boecklin;
    font-size: 60px;
}
.productShow .label3 {
    font-family: 黑体;
    font-size: 60px;
}
.productShow .productDiv {
    position: absolute;
    right: 30px;
    top: 70px;
    width: 500px;
    height: 330px;
}
.productShow .title {
    height: 163px;
    background: url(../images/product-0-1.png) no-repeat -20px 0;
}
.productShow .content {
    height: 237px;
    background: url(../images/product-0-2.png) no-repeat -18px -125px;
}
.pay {
    margin-top: 50px;
    width: 100%;
    height: 700px;
    background: url(../images/zhifu.png) no-repeat 0 0;
    background-size: cover;
}

@media (max-width: 768px) {
    .showUl{
        margin:0;
        padding:0;
        list-style-type: none;
    }


    .show_box{
        width:320px;
        background: #FFF;
        margin: 0 0 20px 30px;
        float: left;
        border: 1px solid #efefef;
        box-shadow: #efefef 0 0 5px;
    }

    .show_box:hover{
        transition-duration:0.2s;
        box-shadow: 0 0 20px rgba(153, 153, 153, 0.7);
        -webkit-box-shadow: 0 0 20px rgba(153, 153, 153, 0.7);
        -moz-box-shadow: 0 0 20px rgba(153, 153, 153, 0.7);
    }

    .img_box{
        margin:12px;
    }

    .img_content_box{
        width:280px;
        height:280px;
        margin:0 auto;
    }

    .goods_content_box{
        width:250px;
        margin:0 auto;
    }
    .title_box{
        font-family: Microsoft YaHei,tahoma,arial,Hiragino Sans GB,sans-serif;
        margin-top:10px;
    }

    .tit_box{
        border-bottom: none;
        padding: 10px 0 15px 0;
        font-size: 14px;
        font-weight: normal;
        overflow: hidden;
        height: 53px;
        border-top:1px dashed #EEE;
    }

    .btm_box{
        font-size:30px;
        color:#543286;
    }

    .btm_box span{
        font-size:20px;
        font-weight:normal;
    }

    .btn_box{
        width:60px;
        height:50px;
        float:right;
        background: url(../images/end_soon_cart_20150228.png) no-repeat 0 0;
        margin-top:0px;
        cursor: pointer;
    }

    .btn_box_saleOut{
        width:60px;
        height:50px;
        margin-top:0px;
        background: url(../images/soldOut-index.png) no-repeat 0 0;
        cursor: pointer;
    }
    .news-flow {
        position: absolute;
        width: 205px;
        height: 258px;
        top: 10px;
        left: 10px;
        background: #000000 repeat-y;
        filter: Alpha(Opacity=10, Style=0);
        opacity: 0.40;
        z-index: 1;
        border: 1px solid  #000000;
    }
    .news-container {
        position: absolute;
        width: 200px;
        height: 236px;
        top: 15px;
        left: 15px;
        font-family: microsoft yahei;
        color: #ffffff;
        z-index: 2;
    }
    .news-container .news-title {
        height: 20px;
        font-size: 18px;
        text-align: center;
        letter-spacing: 2px;
        margin-bottom: 20px;
    }
    .news-container .news-form {
        height: 200px;
        font-size: 12px;
        overflow: auto;
    }
    .news-form a {
        width: 180px;
        position:relative;
        height:20px;
        line-height:20px;
        text-overflow:ellipsis;
        text-decoration:none;
        white-space:nowrap;
        *white-space:nowrap;
        overflow:hidden;
        float: left;
        color: #ffffff;
    }
    a:hover{
        background-color: #3399ff;
    }
    .news-form .news-date {
        display: none;
        float: right;
    }

    #panel_parent,#panel1_parent,#panel2_parent{
        width:200px;
    }

}

@media (min-width: 768px) {
    .showUl{
        margin:0;
        padding:0;
        list-style-type: none;
    }


    .show_box{
        width:250px;
        background: #FFF;
        margin: 0 20px 20px 0;
        float: left;
        border: 1px solid #efefef;
        box-shadow: #efefef 0 0 5px;
    }

    .show_box:hover{
        transition-duration:0.2s;
        box-shadow: 0 0 20px rgba(153, 153, 153, 0.7);
        -webkit-box-shadow: 0 0 20px rgba(153, 153, 153, 0.7);
        -moz-box-shadow: 0 0 20px rgba(153, 153, 153, 0.7);
    }

    .img_box{
        margin:12px;
    }

    .img_content_box{
        width:220px;
        height:220px;
        margin:0 auto;
    }

    .title_box{
        font-family: Microsoft YaHei,tahoma,arial,Hiragino Sans GB,sans-serif;
        margin-top:10px;
    }

    .tit_box{
        border-bottom: none;
        padding: 10px 0 15px 0;
        font-size: 14px;
        font-weight: normal;
        overflow: hidden;
        height: 53px;
        border-top:1px dashed #EEE;
    }

    .btm_box{
        font-size:30px;
        color:#543286;
    }

    .btm_box span{
        font-size:20px;
        font-weight:normal;
        float: left;
    }

    .btm_box .normal{
        color: #9C9C9C;
        text-decoration: line-through;
        margin-right: 10px
    }

    .btm_box .special{
        font-family: verdana;
    }

    .btn_box{
        width:60px;
        height:50px;
        float:right;
        background: url(../images/end_soon_cart_20150228.png) no-repeat 0 0;
        margin-top:0px;
        cursor: pointer;
    }
    .btn_box_saleOut{
        width:60px;
        height:50px;
        margin-top:0px;
        background: url(../images/soldOut-index.png) no-repeat 0 0;
        cursor: pointer;
    }
    div.news-flow {
        position: absolute;
        width: 300px;
        height: 258px;
        top: 20px;
        right: 40px;
        background: #000000 repeat-y;
        filter: Alpha(Opacity=10, Style=0);
        opacity: 0.40;
        z-index: 1;
        border: 1px solid  #000000;
    }
    div.news-container {
        position: absolute;
        width: 290px;
        height: 236px;
        top: 31px;
        right: 45px;
        font-family: microsoft yahei;
        color: #ffffff;
        z-index: 2;
    }
    div.news-container .news-title {
        height: 20px;
        font-size: 18px;
        text-align: center;
        letter-spacing: 2px;
        margin-bottom: 20px;
    }
    div.news-container .news-form {
        height: 200px;
        font-size: 12px;
        overflow: auto;
    }
    div.news-form a {
        width: 180px;
        position:relative;
        height:20px;
        line-height:20px;
        text-overflow:ellipsis;
        text-decoration:none;
        white-space:nowrap;
        *white-space:nowrap;
        overflow:hidden;
        float: left;
        color: #ffffff;
    }
    a:hover{
        background-color: #3399ff;
    }
    div.news-form span.news-date {
        float: right;
    }

    #panel_parent,#panel1_parent,#panel2_parent{
        width:200px;
    }
}
