<extend name="Public:BaseUEIndex" />
<block name="body">
    <style>
        #cropContainerModal1{
            border:1px solid #CCC;
        }
    </style>
    <form id="form" action="__CONTROLLER__/edit" method="post" class="definewidth m20" enctype="multipart/form-data">
        <input type="hidden" id="id" name="id" value="{$goods.id}" >
        <table class="table table-bordered table-hover definewidth m10">
            <tr>
                <td class="tableleft">是否上架</td>
                <td colspan="2">
                    <input type="radio" id="up" name="online" value="0" checked/> 上架
                    <input type="radio" id="down" name="online" value="1"/> 下架
                </td>
            </tr>
            <tr>
                <td class="tableleft">显示新品图标</td>
                <td><input type="checkbox" name="show_icon" id="show_icon" value="1"/></td>
                <td><div class="Validform_checktip"></div></td>
            </tr>
            <tr>
                <td class="tableleft">零售价格</td>
                <td><input type="text" name="price" id="price" value="{$goods.price}" datatype="float" errormsg="请填写正确的零售价格！"><label class="red">*</label>
                <td><div class="Validform_checktip"></div></td>
            </tr>
            <tr>
                <td class="tableleft">折扣价格</td>
                <td><input type="text" name="vip" id="vip" value="{$goods.vip}" datatype="float" errormsg="请填写正确的大客户价格！"><label class="red">*</label>
                <td><div class="Validform_checktip"></div></td>
            </tr>
            <tr>
                <td class="tableleft">刮奖价格区间</td>
                <td><input type="text" name="start_price" id="start_price" value="{$goods.start_price}" datatype="float" maxlength="5" errormsg="请填写正确的区间价格！">－<input type="text" name="end_price" id="end_price" value="{$goods.end_price}" datatype="float" maxlength="5" errormsg="请填写正确的区间价格！"><label class="red">*</label>
                <td><div class="Validform_checktip"></div></td>
            </tr>
            <tr>
                <td class="tableleft">规格</td>
                <td><input type="text" id="unit" name="unit" value="{$goods.unit}" datatype="s1-10" errormsg="单位至少1个字符,最多10个字符！"/><label class="red">*</label></td>
                <td><div class="Validform_checktip"></div></td>
            </tr>
            <tr>
                <td class="tableleft">备注</td>
                <td>
                    <textarea id="description" name="description" style="width:350px;height:100px;" datatype="*1-100" errormsg="备注至少1个字符,最多100个字符！"><eq name="goods.basic_description" value="">{$goods.description}</eq><neq name="goods.basic_description" value="">{$goods.basic_description}</neq></textarea>
                </td>
                <td><div class="Validform_checktip"></div></td>
            </tr>
            <tr>
                <td class="tableleft"></td>
                <td>
                    <button id="save" type="button" class="btn btn-primary" type="button">保存</button>
                </td>
            </tr>
        </table>
    </form>
</block>
<block name="mycss">
</block>
<block name="myscript">
    <script type="text/dialog">
        $(function () {
            $('#backid').click(function(){
                $('form')[0].action="__CONTROLLER__";
                $('form')[0].submit();
            });

            if("{$goods.online}" == 0){
                $('#up')[0].checked = true;
            }else{
                $('#down')[0].checked = true;
            }


            if("{$goods.isnew}" == 0){
                $('#show_icon')[0].checked = false;
            }else{
                $('#show_icon')[0].checked = true;
            }

            $('#goods_type').val('{$goods.show_type}');

            $.Tipmsg.r=null;
            var demo=$("#form").Validform({
                tiptype: 4,
                showAllError: true,
                datatype:{
                    "float":function(gets,obj,curform,regxp){
                        if(obj.val() == '')
                            return false;
                        return (/^[0-9]+(\.\d+)?$|^(\.\d+)?$|^[1-9]+[0-9]*(\.\d+)?$/.test(obj.val()));
                    }
                },
                callback:function(data){
                    var obj = JSON.parse(data);
                    if(obj.state){
                        gloab_obj.find('td').each(function(index){
                            if(index == 5){ //售价
                                $(this).html($('#price').val());
                            }else if(index == 6){ //价格区间
                                $(this).html($('#start_price').val()+' - '+$('#end_price').val());
                            }else if(index == 7){ //折扣价
                                $(this).html($('#vip').val());
                            }else if(index == 8){ //状态
                                $(this).html(($('#up')[0].checked?'上架':'下架'));
                            }else if(index == 9){ //规格
                                $(this).html($('#unit').val());
                            }else if(index == 10){ //New
                                $(this).html(($('#show_icon')[0].checked?'显示':'不显示'));
                            }
                        });

                        myDialog.close();
                    }else{
                        alert(obj.msg);
                    }


                }
            });
            $("#save").click(function(){
                demo.ajaxPost();
                return false;
            });


        });
    </script>
</block>