<extend name="Public:BaseIndex" />
<block name="body">
    <form class="form-inline definewidth m20" action="__CONTROLLER__/del" method="post">
    <button type="button" class="btn btn-success" id="addnew">新增顾客信息</button>
    <button type="button" class="btn btn-danger" id="del">删除</button>
    <input type="hidden" id="id" name="id"  >
<table class="table table-bordered table-hover definewidth m10">
    <thead>
    <tr>
        <th></th>
        <th>姓名</th>
        <th>年龄</th>
        <th>性别</th>
        <th>电话</th>
        <th>操作</th>
    </tr>
    </thead>
    <volist name="array" id="vo">
        <tr>
            <td><input type="checkbox" id="ck" name="ck" value="{$vo.id}"></td>
            <td>{$vo.name}</td>
            <td>{$vo.age}</td>
            <td>{$vo.sex}</td>
            <td>{$vo.phone}</td>
            <td>
                <a href="__CONTROLLER__/toEdit/id/{$vo.id}">编辑</a>
            </td>
        </tr>
    </volist>
</table>
<div class="result page">{$show}</div>
<!--<div class="inline pull-right page">-->
    <!--10122 条记录 1/507 页  <a href='#'>下一页</a><span class='current'>1</span><a href='#'>2</a><a href='#'>3</a><a href='#'>4</a><a href='#'>5</a> <a href='#' >下5页</a> <a href='#' >最后一页</a>-->
<!--</div>-->
</form>
</block>
<block name="myscript">
<script>
    $(function () {
        $('#addnew').click(function(){
            window.location.href="__CONTROLLER__/toAdd";
        });

        $('#del').click(function(){
            var str_val = '';
            $('input[type=checkbox][name=ck]:checked').each(function(index){
                if(index>0){
                    str_val+=',';
                }
                str_val+=$(this).val();
            })

            $('#id').val(str_val);
            $('form')[0].submit();
        })
    });
</script>
</block>