<extend name="Public:BaseIndex" />
<block name="body">
<form id="form" action="__CONTROLLER__/edit" method="post" class="definewidth m20">
    <input type="hidden" id="id" name="id" value="{$obj['id']}" >
    <table class="table table-bordered table-hover definewidth m10">
        <tr>
            <td width="10%" class="tableleft">姓名</td>
            <td width="20%">
                <input type="text" id="name" name="name" value="{$obj['name']}" datatype="*1-32" errormsg="商品名称至少1个字符,最多32个字符！"/><label class="red">*</label>
            </td>
            <td><div class="Validform_checktip"></div></td>
        </tr>
        <tr>
            <td width="10%" class="tableleft">性别</td>
            <td width="20%">
                <select id="sex" name="sex">
                    <option value="1">男</option>
                    <option value="0">女</option>
                </select>
            </td>
            <td></td>
        </tr>
        <tr>
            <td width="10%" class="tableleft">年龄</td>
            <td width="20%">
                <input type="text" id="age" name="age" value="{$obj['age']}" datatype="*1-100" errormsg="商品名称至少1个字符,最多32个字符！"/><label class="red">*</label>
            </td>
            <td><div class="Validform_checktip"></div></td>
        </tr>
        <tr>
            <td width="10%" class="tableleft">手机号码</td>
            <td width="20%">
                <input type="text" id="phone" name="phone" value="{$obj['phone']}" datatype="*1-100" nullmsg="请输入您的手机号码！"/><label class="red">*</label>
            </td>
            <td><div class="Validform_checktip"></div></td>
        </tr>
        <tr>
            <td class="tableleft">备注</td>
            <td>
                <textarea id="description" name="description" style="width:800px;height:250px;" datatype="*1-100" errormsg="备注至少1个字符,最多100个字符！">{$obj['descrption']}</textarea>
            </td>
            <td><div class="Validform_checktip"></div></td>
        </tr>
        <tr>
            <td class="tableleft"></td>
            <td colspan="2">
                <button type="submit" class="btn btn-primary" type="button">保存</button> &nbsp;&nbsp;<button type="button" class="btn btn-success" name="backid" id="backid">返回列表</button>
            </td>
        </tr>
    </table>
</form>
</block>
<block name="myscript">
<script>
    $(function () {
        $('#sex').val("{$obj['sex']}");

        $('#backid').click(function(){
            $('form')[0].action="__CONTROLLER__";
            $('form')[0].submit();
        });

        $("#form").Validform({
            btnSubmit:'#save',
            tiptype: 2,
            showAllError: true,
            datatype:{
                "float":function(gets,obj,curform,regxp){
                    if(curform.find("#expense").val() == '')
                        return false;
                    return (/^[1-9]+(\.\d+)?$|^(\.\d+)?$|^[1-9]+[0-9]*(\.\d+)?$/.test(curform.find("#expense").val()));
                }
            }
        });
    });
</script>
</block>