<section id="bottom_section" class="container-fluid bottom" style="display: none;">
    <div class="links">
        <p style="margin-top:20px;text-align: center;color:#ccc;">
            <a href="{:U('Index/about')}" target="_blank" rel="nofollow">关于我们</a>|
            <a href="{:U('Index/partner')}" target="_blank" rel="nofollow">合作伙伴</a>|
            <a href="#" target="_blank" rel="nofollow">购物流程</a>|
            <a href="{:U('Index/service')}" target="_blank" rel="nofollow">服务承诺</a>|
            <a href="{:U('Index/contact')}" target="_blank" rel="nofollow">联系我们</a>
        </p>
        <p style="margin-top:10px;text-align: center;color:#ccc;">
            © 2015 gsfarm.com.cn 版权所有
            <a href="http://www.miitbeian.gov.cn/" target="_blank" rel="nofollow">津ICP备15000788号</a>
        </p>
        <p style="margin-top: 10px;text-align: center;color: #cccccc">
            天津劝宝超市有限责任公司
        </p>
    </div>
</section>