<block name="title-content">
    {:C('GSTITLE')}
</block>
<block name="page-content">
  <section id="show_content" class="container"  style="padding:0;padding-top:30px;">
        <div class="row">
            <section class="container" id="show_content">
                <div class="col-xs-12 panel panel-default border" style="margin-top: 100px">
                    <div class="panel-body HeiTi_20">
                        <li style='list-style: none;text-align: center;font-size: 30px'>
                            <span class="glyphicon glyphicon-remove" style='color: #ff0000;margin-right: 10px;'></span><b>页面出错了</b>
                        </li>
                    </div>
                </div>
            </section>
        </div>
  </section>
</block>
<extend name="Common@Shared/Idea/layoutBase" />